@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Order" asp-action="Index" class="btn btn-info">Orders</a>
    <a asp-controller="Trails" asp-action="Index" class="btn btn-info">Trails</a>
</div>
